@import "../../../common-styles/colors.scss";
@import "../../../common-styles/common-components.scss";

.album-details {
  &__title {
    color: $color-title;
  }
}

.txt-comentario {
  width: 100%;
}

.div-comment-btn-wrapper {
  justify-content: end;
  .btn {
    margin-left: 5px;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
