<app-header></app-header>
<div class="container-fluid my-4 p-4">
  <div class="row">
    <div class="col-sm-12 col-md-4 album-list">
      <div class="album-list__search-div">
        <h1>Álbumes</h1>
        <button
          type="button"
          class="my-1 btn btn-outline-primary btn-circle text-center"
          (click)="irCrearAlbum()"
        >
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
      <div class="album-list__list">
        <div class="input-group my-2">
          <input
            #busqueda
            type="search"
            class="form-control"
            placeholder="Buscar álbumes"
            aria-label="Search"
            (keyup)="buscarAlbum(busqueda.value)"
          />
        </div>

        <table class="table table-hover mb-0 ionic-table" aria-describedby="colecName">
          <tbody>
            <tr
              *ngFor="let album of mostrarAlbumes; index as i"
              (click)="onSelect(album, i)"
              [ngClass]="{ selected: i === indiceSeleccionado }"
            >
              <td>{{ album.titulo }}</td>
              <td>{{ album.anio }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-sm-12 col-md-8">
      <app-album-detail
        (deleteAlbum)="eliminarAlbum()"
        [album]="albumSeleccionado"
      ></app-album-detail>
    </div>
  </div>
</div>
