.ionic-table {
  tr:nth-child(2n) {
    background-color: #f4f4f4;
  }
  tr:nth-child(2n + 1) {
    background-color: #d3d3d3;
  }

  tr.selected {
    background-color: #ffc163;
    font-weight: bold;
  }
}

.ionic-list {
  margin-top: 15px;

  & > div:nth-child(2n) {
    background-color: #f4f4f4;
  }
  & > div:nth-child(2n + 1) {
    background-color: #d3d3d3;
  }

  &__comment {
    padding: 7px 10px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;

    &__date {
      font-weight: lighter;
    }
  }
}


.shared_mark {
  display: inline-block;
  margin-right: 5px;
  background-color: $yellow-logo;
  border-radius: 6px;
  padding: 0 6px;
}
