.ionic-table {
  tr:nth-child(2n) {
    background-color: #f4f4f4;
  }
  tr:nth-child(2n + 1) {
    background-color: #d3d3d3;
  }

  tr.selected {
    background-color: #FFC163;
    font-weight: bold;
  }
}
