<nav class="navbar navbar-expand-lg navbar-light app-header">
  <div class="container-fluid">
    <a class="navbar-brand mx-3 app-header__logo" (click)="goTo('logIn')"
      >IONIC</a
    >
    <button
      class="navbar-toggler app-header__mobile-menu"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="goTo('album')">Álbumes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goTo('cancion')">Canciones</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" style="border-right: 1px solid #dedede">
          <a class="nav-link" (click)="this.mostrarCreditos()">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{this.userName}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goTo('logIn')">Salir</a>
        </li>
      </ul>
    </div>
  </div>

  <app-modal #modal [modalConfig]="modalConfig">
    <div>
      <h3 class="text-center">Ionic fue desarrollado por</h3>
      <div>
        <ul>
          <li>Anderson Santamaria</li>
          <li>Andres Cendales</li>
          <li>Jhon Jairo Moreno</li>
          <li>Juan Sebastian Vanegas</li>
        </ul>
        <div class="text-center">
          <p>Grupo Cepa Colombia / MISO 4201</p>
          <p>Colombia 2021</p>
        </div>
      </div>
    </div>
  </app-modal>
</nav>
